.input {
    background-color: #0f3041;
    color: #fff; /* Cambia el color del texto según tus preferencias */
  }
  
  .textarea {
    background-color: #0f3041;
    color: #fff; /* Cambia el color del texto según tus preferencias */
  }
  
.container-contact {
    margin-top: 2rem; /* Ajusta el valor según tus necesidades */
  }
